---
// Credit partial for posts originally published on The Cassowary Project
---

<aside class="not-prose bg-primary/10 dark:bg-primary-dark/10 border-l-4 border-primary dark:border-primary-dark px-4 py-3 mb-8 rounded-r-lg">
	<p class="text-base italic">
		This post was originally published as part of The Cassowary Project, a DIY local history research project by Sylvia Kölling and Kim Foale.
	</p>
</aside>
